


img {
    z-index: 1;
  }

  .up_logo img {
    width: 150px;
    position: relative;
    top: 50px;
    padding-top: 50px;
    padding-left: 95px;
    z-index: 1;
  }

  .up_desc p {
      color: aliceblue;
      margin-top: 25%;
      text-align: center;
      font-size: 20px;
      font-family: "Roboto", sans-serif;

      -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
  }